. {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(fishnets-andhearts.png);
    background-size:cover;
    background-position: center center;
    height: 100vh;
}



.image {
    width: 300px;
    height: auto;
}


ul.a {
    list-style-type: About;
  }
  
  ul.b {
    list-style-type: Portfolio;
  }
  
  ol.c {
    list-style-type: Contact;
  }

li {
    display: inline;
  }

.image {
    <background-image:url("assets/images/fishnets-and-hearts.png");
}


li {
    display: inline; About;
  }

    div {
        width: 500px;
        border: 60px;
        padding: 60px;
        margin: 50px;
      }

nav{
    position: relative;
    padding:20px 20px 20px 20px;
    text-align: right;
    z-index: 0;
    margin: 0 auto;
    width:calc (100% - 50px)
}

h1 {
    background-color: gray;
}

h2 {
    background-color: blueviolet
}
p.solid {
    border-style: solid;
    border-width: 5px
}



